<!-- <nav>


      <a routerLink="/home" routerLinkActive="active">home</a>
      <a routerLink="/edit/1" routerLinkActive="active">edit</a>
    </nav> -->
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">User App</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">


          </ul>

        </div>
      </nav>
<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home" routerLinkActive="active"  data-toggle="tab"  role="tab">Home</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active" data-toggle="tab" href="#profile" role="tab">About us </a>

    </li>

  </ul>

<router-outlet></router-outlet>



