<div class="container">
  <div class="row">

    <div class="col-1">

    </div>
    <div class="col-10">
<br>
      <div class="row">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" name ="searchText" [(ngModel)]="searchText"  placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
       </div>
       <br>

      <div class="row">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th (click)="setOrder('id')">ID  <i class="fa fa-sort leftPadding" aria-hidden="true"></i> </th>
              <th (click)="setOrder('fname')">First Name <i class="fa fa-sort leftPadding" aria-hidden="true"></i></th>
              <th (click)="setOrder('lname')">Last Name <i class="fa fa-sort leftPadding" aria-hidden="true"></i></th>
              <th (click)="setOrder('email')">Email <i class="fa fa-sort leftPadding" aria-hidden="true"></i></th>
              <th (click)="setOrder('date')">Joining Date<i class="fa fa-sort leftPadding" aria-hidden="true"></i></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users | orderBy: order: reverse  |filter : searchText; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{item.id}}</td>
              <td>{{item.fname}}</td>
              <td>{{item.lname}}</td>
              <td>{{item.email}}</td>
              <td>{{item.date}}</td>
              <td>
                <swal #deleteSwal title="Are you sure?" text="" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteUser($event,item.id)"
                  (cancel)="handleRefusalDelete($event)">
                </swal>

                <button routerLink="/edit/{{item.id}}" type="button" class="btn btn-outline-primary">Edit</button>

                <button type="button" class="btn btn-outline-danger" [swal]="deleteSwal">
                  Delete
                </button>
              </td>
            </tr>

          </tbody>
        </table>
        <br>



      </div>
      <div class="row justify-content-between">
          <div class="col-10">
              <button type="button" class="btn btn-primary right" >
                  Add New User
                </button>
          </div>
          <div class="col-2">
              <button type="button" class="btn btn-success" (click)="exportData()" >
                  Export
                </button>
          </div>
        </div>
    </div>

    <div class="col-1">

    </div>
