
<form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Joining Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users; let i = index">
          <th scope="row">{{i}}</th>
          <td>{{item.id}}</td>
          <td>{{item.fname}}</td>
          <td>{{item.lname}}</td>
          <td>{{item.email}}</td>
          <td>{{item.date}}</td>
          <td>
              <swal
              #deleteSwal
              title="Are you sure?"
              text=""
              type="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="deleteUser($event)"
              (cancel)="handleRefusalDelete($event)">
            </swal>

              <button routerLink="/edit" type="button"  class="btn btn-outline-primary">Edit</button>
             <button  type="button"  class="btn btn-outline-danger" [swal]="deleteSwal" >
             Delete
            </button>
          </td>
        </tr>

      </tbody>
    </table>
